apimServiceName: [prod or any other target environment apim instance name goes here]
namedValues:
  - name: environment
    properties:
      displayName: environment
      value: "https://www.search2.com"
  - name: mysecretvalue
    properties:
      displayName: mysecretvalue
      keyVault:
        identityClientId: [identity client id goes here]
        secretIdentifier: [your url here]
  - name: testSecret
    properties:
      displayName: testSecret
      value: "{#testSecretValue#}"
  - name: helloworldfromfuncapp-key
    properties:
      displayName: helloworldfromfuncapp-key
      value: "{#helloworldfromfuncappkey#}"
  - name: 634e022983908257b35630b0
    properties:
      displayName: helloworldfromlogicapp_manual-invoke_634e022983908257b35630b0
      value: "{#helloworldfromlogicapp#}"  
loggers:
    - name: [source (not destination) application insights name that you are overriding. Refer to the wiki at https://github.com/Azure/apiops/wiki/APIM-resources#loggers on options to override the logger name in higher environment]
      properties:
        loggerType: applicationInsights
        description: prod application insights
        resourceId: "/subscriptions/[your guid here]/resourceGroups/rg-apim-lab-prod/providers/microsoft.insights/components/[destination environment application insights name]"
        credentials:
          instrumentationKey: "{{ [namedvalue in the destination environment that will store your target application insights name. Refer to the wiki at https://github.com/Azure/apiops/wiki/APIM-resources#loggers for ways on improving the default namedvalues that get generated by apim] }}"
        isBuffered: true
diagnostics:
   - name: applicationinsights
     properties:
       verbosity: Error
       loggerId: "/subscriptions/[subscription Guid goes here]/resourceGroups/rg-apim-lab-prod/providers/Microsoft.ApiManagement/service/apim-prod-wk-05102022/loggers/[application insights name you chose for the destination environment]"
backends:
  - name: helloworldfromfuncapp
    properties:
      url: "https://helloworldfromprodfuncapp.azurewebsites.net/api"
      resourceid: "https://management.azure.com/subscriptions/[subscription Guid goes here]/resourceGroups/rg-apim-lab-prod/providers/Microsoft.Web/sites/helloworldfromprodfuncapp"
  - name: LogicApp_helloworldfromlogicapp_rg-apim-lab_77fadbdc74f14ce88962b34400a1f170
    properties:
      url: "https://prod-75.eastus.logic.azure.com/workflows/[guid goes here]/triggers"
      resourceid: "https://management.azure.com/subscriptions/[subscription Guid goes here]/resourceGroups/rg-apim-lab-prod/providers/Microsoft.Logic/workflows/helloworldfromprodlogicapp"
apis:
  - name: demo-conference-api
    diagnostics:
      - name: applicationinsights
        properties:
          verbosity: Error
          loggerId: "/subscriptions/[subscription Guid goes here]/resourceGroups/rg-apim-lab-prod/providers/Microsoft.ApiManagement/service/apim-prod-wk-05102022/loggers/[application insights name you chose for the destination environment]"
